[2017-04-20 11:49] denics opened #1 "Proxy support"
Hi and thanks for the nice work. Is it possible to add proxy support to nheqminer?

[2017-05-05 14:53] kozyilmaz commented on #1
Hi @denics, what is the setup exactly or which pools are you trying to connect? Are you unable to connect "stratum+tcp" ports of pools because of port restrictions in your environment?

[2017-05-05 14:56] denics commented on #1
@kozyilmaz , yes, thanks. my environment use a http_proxy and I did not find how to make nheqminer through

[2017-05-05 15:52] kozyilmaz commented on #1
@denics as far as I understand you need to route miner's tcp traffic (stratum connection) through http proxies, assuming the pool you are trying to connect does not provide a 80/443 port options. Can you check this project https://github.com/rofl0r/proxychains-ng

[2017-05-05 16:06] kozyilmaz commented on #1
@denics I tested with a public http proxy that supports "connect" and nheqminer combined with proxychains works! This is the command line I used:
[code]

with the result:
[code]

and this is the proxychains configuration file change I made:
[code]

[2017-05-09 07:42] kozyilmaz commented on #1
@denics Any chance to miner test with proxychains?

[2017-05-09 08:13] denics commented on #1
Hi @kozyilmaz it is working! I think you should add this in the instructions.

[2017-05-09 08:17] kozyilmaz commented on #1
@denics Great! I can add proxychains to the build as a separate package if you like

[2017-05-09 08:21] #1 closed

[2017-05-09 08:23] denics opened #2 "Does nheqminer support OpenCL"
Hi @kozyilmaz , many mac come with AMD graphic cards, are you going to support OpenCL or only CUDA?

[2017-05-09 08:42] kozyilmaz commented on #2
@denics nheqminer as of 0.5c supports only CUDA, however there are other miners utilizing OpenCL like "silentarmy" (https://github.com/mbevand/silentarmy) but I didn't see any macOS builds for those.

[2017-05-09 08:50] denics commented on #2
This version runs ok on Mac https://github.com/justvanbloom/silentarmy

[2017-05-09 09:03] kozyilmaz commented on #2
good, will take a look to it sometime. In the meantime I have no plans to add OpenCL support to nheqminer

[2017-05-12 06:30] #2 closed

[2017-05-24 20:48] gmickel opened #3 "Clang version"
Hi there

FIrst off, thanks for the great work!

It may be worth noting that I wasn't able to make the project using the newer command line tools version (Apple LLVM version 8.1.0 (clang-802.0.42)).

The build worked perfectly after downloading the following older version:

For macOS 10.12, XCode 8.2:
http://adcdownload.apple.com/Developer_Tools/Command_Line_Tools_macOS_10.12_for_Xcode_8.2/Command

[2017-05-25 13:39] kozyilmaz commented on #3
Hi @gmickel;

Good point, CUDA Toolkit is tied to the clang versions at it's release time. I'll extend README for managing multiple command line tools and select the correct one for nheqminer builds.

Great solution rate btw!

[2017-06-03 03:52] TheMCTipers opened #4 "Make Errors"
MacOS Sierra '10.12.5'
iMac 27", Late 2012

After I type in make (after cloning using --recursive, and after 'source environment', using Terminal) I get this:

![screen shot 2017-06-02 at 11 51 49 pm](https://cloud.githubusercontent.com/assets/29156543/26750373/7cb513be-47ee-11e7-89d7-3bf1433defb6.png)
Know how to fix?

[2017-06-03 05:46] komer83 commented on #4
Same issue
MacOS Sierra '10.12.5' Hackintosh Core i7 7700 + Asus Turbo 1060 6G
Omers-iMac:asm_linux komer$ git clone --recursive https://github.com/kozyilmaz/nheqminer-macos.git
Cloning into 'nheqminer-macos'...
remote: Counting objects: 452, done.
remote: Total 452 (delta 0), reused 0 (delta 0), pack-reused 452
Receiving objects: 100% (452/452), 47.94 KiB | 0 bytes/s, done.
Resolving deltas: 100%

[2017-06-03 12:17] kozyilmaz commented on #4
I think you have different issues, can you please do a fresh clone first (I committed a lot of debug options and build checks).

@TheMCTipers  Can you please run the commands below after the fresh clone, this way we'll have a complete error log

[code]

@komer83 I believe the source of your problem is the incompatibility of CUDA toolkit to latest Xcode Command Line Tools. If you run the commands b

[2017-06-03 12:21] kozyilmaz commented on #3
Commit 8ec28182b427475661024464d9c5c854b472ca84 closes #3

[2017-06-03 12:21] #3 closed

[2017-06-03 14:03] TheMCTipers commented on #4
I have done the following:

git clone https://github.com/kozyilmaz/nheqminer-macos.git
cd nheqminer-macos
source environment
PRINT_DEBUG=y make
![screen shot 2017-06-03 at 9 53 16 am](https://cloud.githubusercontent.com/assets/29156543/26754135/a821962c-4842-11e7-97eb-ee36f65582df.png)

I have downloaded the CUDA Toolkit from the website you've provided (https://developer.nvidia.com/cuda-downloads

[2017-06-03 14:11] kozyilmaz commented on #4
@TheMCTipers So far so good. According to logs the only problem for now is the "Command Line Tools" version. Commands below should set the tools version to compatible, older one. Can you send me the output?

[code]

Of course you can switch it back anytime you like to the latest one with command below.

[code]

[2017-06-03 16:53] TheMCTipers commented on #4
Sorry I took a while, there were some problems with my internet sadly.
After restarting my PC, terminal was still open with it's directory.

![screen shot 2017-06-03 at 12 51 54 pm](https://cloud.githubusercontent.com/assets/29156543/26755455/9784c550-485b-11e7-8524-cd9c75f19968.png)

This is what I get now, is that ok?

[2017-06-03 17:29] TheMCTipers commented on #4
I've tried compiling it again, and this is what I get:
![screen shot 2017-06-03 at 1 28 35 pm](https://cloud.githubusercontent.com/assets/29156543/26755683/9e2b5bb2-4860-11e7-8f4f-be27145b1f3c.png)

[2017-06-03 17:29] kozyilmaz commented on #4
@TheMCTipers looks good, let's print debug logs
[code]

[2017-06-03 17:47] TheMCTipers commented on #4
Holy shit that took a very long time to make.. Anyways, here's the log.
https://pastebin.com/4JDRvCK4

Very large..

[2017-06-03 18:08] kozyilmaz commented on #4
Interesting, first one failed at “fasm”, second one at “pkgconfig” and last one at “cmake”, so it is not deterministic. Error log shows that build is “Killed: 9”.

How much total and free RAM do you have at the moment, and how much disk space do you have? I guess build is getting killed due to low memory.

We can try one thing though, open "environment" file with a text editor. Change
[code]
to
[c

[2017-06-03 18:11] TheMCTipers commented on #4
I have 32GB of RAM installed and a 180GB SSD (84GB free, right now only 9GB of RAM used)

I've changed the file from 4 to 1, and now I am compiling again. Last time it took 18 minutes, let's hope that it doesn't take as long again.

[2017-06-03 18:31] TheMCTipers commented on #4
alright, well it's working :D

[2017-06-03 18:46] kozyilmaz commented on #4
@TheMCTipers so nheqminer is compiled and working now?  If so, I am glad but sorry it took so long. I have a couple questions if you don't mind:

- In failing conditions, your machine had more than enough ram and disk space, correct? How about CPU load other then compilation, were there any CPU-intensive tasks running in parallel?
- Was Xcode open or Simulator running during nheqminer compilation?

[2017-06-03 18:48] TheMCTipers opened #6 "CUDA Mining requires SM 5.0"
MacOS 10.12.5, 'Sierra'
GTX 760

After compiling nheqminer-gpu, i tried to run this:
./nheqminer-gpu -b -cd 0 (to benchmark it)

It gives me this:

	==================== www.nicehash.com ====================
		Equihash CPU&GPU Miner for NiceHash v0.5c
	Thanks to Zcash developers for providing base of the code.
	    Special thanks to tromp, xenoncat and djeZo for providing
	      optimized CPU and

[2017-06-03 18:51] TheMCTipers commented on #4
It is compiled and should be working now.

It had more than enough ram and disk space, yes. The only CPU load was terminal itself (to compile it), the background applications I have running use barely any CPU (Well, I would hope. Transmission, Activity Monitor, Chrome, Logitech Gaming Software, Discord)

Xcode and Simulator were not running during the compilation.

[2017-06-03 19:30] kozyilmaz commented on #6
@TheMCTipers nheqminer switched to "Djezo" for CUDA that requires at least SM 5.0. I can create a separate "trompgpu" miner that supports older versions but hash rate won't be that good. Let me look into it.

[2017-06-03 19:39] TheMCTipers commented on #6
Alright, thanks!

[2017-06-03 20:47] kozyilmaz commented on #6
@TheMCTipers ok I added a separate binary name `nheqminer-old` that contains only Tromp CUDA solver without the SM 5.0 requirement. You can try it like the command below, just don't forget `-cv 1` for Tromp solver
[code]

[2017-06-03 22:25] TheMCTipers commented on #6
How do I use this with the NiceHash service? Or is it not possible?

[2017-06-04 07:37] kozyilmaz commented on #6
@TheMCTipers If you check `README.txt` or `miner.sh` in `nheqminer-macos/miner`directory you'll see some usage examples with different pools. Commands below should probably work for nicehash.
[code]

[2017-06-04 15:53] TheMCTipers commented on #6
Alright, well I am getting 10.1333 Sols/s on my 760 now.
That's half the speed I get with my CPU (20 Sols/s), and it consumes much more power.

[2017-06-04 16:42] kozyilmaz commented on #6
@TheMCTipers unfortunately for nheqminer that's the case, at least everything is working

[2017-06-11 00:46] MaximusMcCann commented on #4
Error as well, but w/curl /pkg-config
[code]
I've checked and do have pkg-config-0.29.2 in my path, not sure why it's checking for the `tar.gz`
`/usr/local/Cellar/pkg-config/0.29.2/bin/pkg-config`

[2017-06-11 01:35] MaximusMcCann commented on #4
Solution to compile was to `./configure --with-darwinssl` curl... then re- `sudo make install`. For anyone who comes across this in the future

[2017-06-11 01:40] MaximusMcCann opened #7 "-u is a bitcoinaddress only?"
Can I Use a zcash address here?

[2017-06-11 10:13] kozyilmaz commented on #4
@MaximusMcCann macOS is shipped with a https capable curl version, is it possible that you installed via "brew" or compiled a custom version which override original one (which I do not recommend)? Can you send the output of `curl --version`

[2017-06-11 10:19] kozyilmaz commented on #7
@MaximusMcCann for nicehash, Bitcoin address is required (check section 3.5 of https://www.nicehash.com/index.jsp?p=software). There are plenty of options for Zcash mining that you can use your Zcash address, check out https://zcash.flypool.org or https://zec.suprnova.cc

[2017-06-11 17:15] MaximusMcCann commented on #4
@kozyilmaz In order to get some of these linux mining distros to work on my mac I've had to `make` curl on my own comp and manually enable the Dev flags...  This has been helpful: https://github.com/curl/curl/blob/master/GIT-INFO
Certainly not an issue if you don't touch the built in curl.

[2017-06-11 17:16] MaximusMcCann commented on #7
@kozyilmaz cheers.  Been looking for a mac Cuda version...

[2017-06-11 17:16] #7 closed

[2017-06-20 15:12] drhaynes opened #8 "Getting low hash rate (~15 sols/s) on 970 gpu"
Running the miner with `nheqminer-gpu -l equihash.eu.nicehash.com:3357 -u BITCOIN_ADDRESS.worker1 -cd 0 -cb 16 -ct 128`

I am only getting approx 15 sols/s, but would be expecting more like 200 for this card.

Is there something I am doing wrong?

I'm using the latest release build from: https://github.com/kozyilmaz/nheqminer-macos/releases/tag/v4

[2017-06-20 15:58] kozyilmaz commented on #8
@drhaynes you are right, I own a GTX 960 and I get around ~130 Sol/s

1. Do you still see 15 Sol/s with  `nheqminer-gpu -l equihash.eu.nicehash.com:3357 -u BITCOIN_ADDRESS.worker1 -cd 0 `

2. Can you also paste the outputs of:
`./nheqminer-gpu -ci`
`ls -lrt /usr/local/cuda/lib/libcuda.dylib`

[2017-06-20 17:42] dansolo commented on #8
@kozyilmaz Sorry to hijack the thread but I'm having the same issue with a GTX 970 on the latest build.

Tried "nheqminer-gpu -l equihash.eu.nicehash.com:3357 -u BITCOIN_ADDRESS.worker1 -cd 0" and am still seeing ~15 sols/s

The output I get from "./nheqminer-gpu -ci ls -lrt /usr/local/cuda/lib/libcuda.dylib" is:

Number of CUDA devices found: 1
	#0 GeForce GTX 970 | SM version: 5.2 | SM count: 13

[2017-06-20 17:50] kozyilmaz commented on #8
@dansolo can you execute them separately?

`$ ./nheqminer-gpu -ci`
`$ ls -lrt /usr/local/cuda/lib/libcuda.dylib`

and can you please try with v3 release too?

[2017-06-20 18:03] kozyilmaz commented on #8
@drhaynes @dansolo guys, can you also paste the log output after you run:
`$ nheqminer-gpu -l equihash.eu.nicehash.com:3357 -u YOUR_BTC_ADDR.rig1 -cd 0 -d 0`

[2017-06-20 18:05] dansolo commented on #8
Result from "ls -lrt /usr/local/cuda/lib/libcuda.dylib":

-rwxr-xr-x  1 root  wheel  13504 12 Jan 12:31 /usr/local/cuda/lib/libcuda.dylib

Still getting ~15 Sols/s on v3 using "nheqminer-gpu -l equihash.eu.nicehash.com:3357 -u BITCOIN_ADDRESS.worker1 -cd 0"

[2017-06-20 18:39] kozyilmaz commented on #8
@dansolo can you send me the whole console output of mining command, please delete/substitute your Bitcoin wallet address
`$ nheqminer-gpu -l equihash.eu.nicehash.com:3357 -u YOUR_BTC_ADDR.rig1 -cd 0 -d 0`

[2017-06-20 20:34] dansolo commented on #8
@kozyilmaz I've attached the output for

`$ nheqminer-gpu -l equihash.eu.nicehash.com:3357 -u YOUR_BTC_ADDR.rig1 -cd 0 -d 0`

[nheqminer_output.txt](https://github.com/kozyilmaz/nheqminer-macos/files/1089614/nheqminer_output.txt)

[2017-06-21 10:35] drhaynes commented on #8
After building the latest from master this morning, I am now seeing performance as expected.

As part of the build deps, I installed the cuda toolkit v.8.0.61 from https://developer.nvidia.com/cuda-downloads, as it wasn't already present, so maybe that had something to do with the issue.

[2017-06-21 11:34] kozyilmaz commented on #8
@drhaynes thanks a lot for the update, I was about the reply that I have to dig into Nvidia driver versions but it's good to know at least a workaround exist.

So either:
1. CUDA toolkit contains some libraries/binaries that are needed but I failed to identify them, I'll try uninstalling CUDA toolkit and try to reproduce
2. CUDA toolkit comes with an older Nvidia driver and this driver perform sig

[2017-06-21 11:51] drhaynes commented on #8
Sure, versions below.

From the Nvidia prefs pane:
NVIDIA Web Driver: 378.05.05.15f101

From the Cuda prefs pane:
CUDA Driver Version: 8.0.61
GPU Driver Version: 10.18.5 (378.05.05.15f101)

[2017-06-21 11:52] drhaynes commented on #8
Incidentally, I can see there is now a cuda update available (to version 8.0.83) in the Cuda prefs pane. I'm wondering if I was on that version before installing the toolkit manually.

[2017-06-21 12:09] kozyilmaz commented on #8
@dansolo maybe you can solve this mystery for us, what are you CUDA and GPU driver versions while having low hash rate?

[2017-06-21 18:10] dansolo commented on #8
@kozyilmaz I'm on:
CUDA Driver Version Version: 8.0.61
NVIDIA Web Driver: 346.03.15f02

[2017-06-21 18:36] kozyilmaz commented on #8
@dansolo sorry for the inconvenience but can you try installing CUDA toolkit (https://developer.nvidia.com/cuda-downloads) ?

I will uninstall CUDA toolkit and try to reproduce the issue as soon as I have access to my mining Mac (a couple days tops).

[2017-06-27 10:00] drhaynes commented on #8
Some more info on this issue.

I upgraded the Xcode command line tools. Everything was fine until restarting, then I was back to 15 sols/s.

Maybe one of the dynamic libraries in the latest command line tools is causing the issue?

[2017-06-27 10:36] drhaynes commented on #8
Reinstalling the old Xcode dev tools didn't fix it, but reinstalling them and then the CUDA toolkit and rebuilding did.

[2017-06-27 15:38] dansolo commented on #8
@drhaynes Great work! Can you let me know which version of the Xcode dev tools you used?

[2017-06-28 06:34] soyary commented on #4
Hi,

I'm getting the same issue as @TheMCTipers where an error pops up at BUILD pkconfig:

![image](https://user-images.githubusercontent.com/29747242/27623245-683fcab8-5b90-11e7-80ab-981f8e3501a5.png)

Here's my log after a fresh clone with debug:

https://pastebin.com/zy3HJBFf

Thanks for your help. Looking forward to getting this running and testing out my GPU!

[2017-06-28 15:11] kozyilmaz commented on #4
@soyary  Can you try this please, open "environment" file with a text editor. Change
[code]
to
[code]

then again run these commands, it will continue building :
[code]

[2017-06-28 16:18] soyary commented on #4
@kozyilmaz I forgot to mention that I also tried that to no avail:

https://pastebin.com/myZxRPia

[2017-06-28 16:35] kozyilmaz commented on #4
@soyary looking now, do you have homebrew installed?

[2017-06-28 16:36] soyary commented on #4
Yes, I do.

On Wed, Jun 28, 2017 at 9:35 AM, Kazım Özyılmaz <notifications@github.com>
wrote:

[2017-06-28 17:42] kozyilmaz commented on #4
@soyary your problem is with `clock_gettime()`, it's defined in macOS 10.12 / Xcode 8 and it works out of the box (vanilla environment) but it seems brew is not playing nicely with that change

Let's try this first:
[code]

[2017-06-28 17:47] kozyilmaz commented on #4
If previous workaround does not work, download and copy this file [brew.patch.txt](https://github.com/kozyilmaz/nheqminer-macos/files/1109663/brew.patch.txt) to nheqminer-macos directory and execute commands below:

[code]

This is an immediate workaround until I come up with something  reliable

[2017-06-28 17:55] soyary commented on #4
I uninstalled homebrew and started with a fresh clone with BSPJOB=4:

https://pastebin.com/2jgWr583

And once again with BSPJOB=1:

https://pastebin.com/LTDKxsG4

On Wed, Jun 28, 2017 at 10:42 AM, Kazım Özyılmaz <notifications@github.com>
wrote:

[2017-06-28 18:02] kozyilmaz commented on #4
@soyary thanks for your patience, how about a quick run with:
[code]
and if not then please apply the patch like in my previous comment it will workaround it.

The problem is clock_gettime for sure
[code]

[2017-06-28 18:10] soyary commented on #4
I'm now getting this error when running the patch:

Hackintosh:nheqminer-macos soyary$ patch -d
tools/pkgconfig/pkg-config-0.29.2 -pl < brew.patch

patch: **** strip count l is not a number

On Wed, Jun 28, 2017 at 11:03 AM, Kazım Özyılmaz <notifications@github.com>
wrote:

[2017-06-28 18:11] kozyilmaz commented on #4
@soyary it's p1 not pl
`patch -d tools/pkgconfig/pkg-config-0.29.2 -p1 < brew.patch `

[2017-06-28 18:20] soyary commented on #4
Oh duh! Thanks. This is the result:

https://pastebin.com/sk8bVrCA

Thanks for your continued support!

On Wed, Jun 28, 2017 at 11:11 AM, Kazım Özyılmaz <notifications@github.com>
wrote:

[2017-06-28 18:45] kozyilmaz commented on #4
@soyary sorry but it does not seem to be patched.

[2017-06-28 19:25] soyary commented on #4
Sorry, I'm getting the same error: https://pastebin.com/bJ6bqTgY

I started with a fresh clone and first tried:

$ export MACOSX_DEPLOYMENT_TARGET=10.12
$ source environment
$ PRINT_DEBUG=y make

Then I ran the patch, which seems to have patched gmain.c with the lines in the patch you created. Same error:

![image](https://user-images.githubusercontent.com/29747242/27656162-d49ed7aa-5bfc-11e7-9cbe

[2017-06-28 19:46] kozyilmaz commented on #4
@soyary duh, my stupidity!

try this patch, no need to fresh clone
[brew4.patch.txt](https://github.com/kozyilmaz/nheqminer-macos/files/1110017/brew4.patch.txt)

[code]

[2017-06-28 21:20] soyary commented on #4
Hey, still the same error. Not sure what's wrong. Could it be my system?

https://pastebin.com/2PJnBJ2d

[2017-06-28 21:37] kozyilmaz commented on #4
@soyary Hackintosh? one last try, my bad I guess. patch here
[disable.patch.txt](https://github.com/kozyilmaz/nheqminer-macos/files/1110296/disable.patch.txt)

[code]

[2017-06-28 22:13] soyary commented on #4
Sweet! It finally compiled. GPU miner was running fine until it crashed my system. Maybe it was overloaded. I'm remoting in from work right now, so I'm not sure what happened.

[2017-06-28 22:21] kozyilmaz commented on #4
@soyary if it crashes I suggest you try the precompiled binaries too (under /releases). good luck!

[2017-06-28 22:32] soyary commented on #4
@kozyilmaz Haha! I didn't know you had binaries. Could've saved me some time, but hey, I learned a lot! Thanks for your help!

[2017-06-29 16:25] dansolo commented on #8
@kozyilmaz Quick update. Had no luck with the Cuda re-install, so swapped to MacBook Pro on 10.12.5 and built it there with XCode 8.2.1/Command Line Tools 8.2. I ran into the Make issues which you solved for me with the "disable.patch.txt" file, and was able to transfer back to my Hackintosh for the full power of the GTX970 which is now running at 215 Sols/s. Thank you ^ 1M for your work on this.

[2017-06-29 16:38] kozyilmaz commented on #8
@drhaynes great detective work! It's interesting that it didn't work unless you build with vanilla CUDA toolkit 8.0.61 and correct dev tools. I'll get to the bottom of this but thank you for your work & time.

@dansolo great news, glad I can help!

[2017-06-30 16:15] Forst opened #9 "Out of memory on GT 650M"
Getting a CUDA "Out of memory" error, related to [this line](https://github.com/nicehash/nheqminer/blob/master/cuda_tromp/equi_miner.cu#L920).

Trying out a benchmark with minimal available settings:
[code]

CUDA device info:
[code]

Hardware and software configuration:
* MacBook Pro 15" Retina Early 2013
* nVidia GeForce GT650M 1GB
* macOS Sierra 10.12.5

[2017-06-30 20:29] eshbeata commented on #8
Hi
i'm using the built release it worked with the old cuda not sure why
and it always [23:28:37][0x00007fffe30433c0] Speed [15 sec]: 0 I/s, 0 Sols/s
Any specific solution here?

[2017-07-03 15:02] kozyilmaz commented on #8
@drhaynes Hey I am unable to reproduce your findings with GTX 960, here is what I tried, any suggestions?

1. macOS 10.12.5 (16F73), vanilla CUDA toolkit install (8.0.61) with accompanying CUDA (CUDA Driver Version: 8.0.61) and Nvidia driver (GPU Driver Version: 10.18.5 (378.05.05.15f01) plus older Xcode 8.2 command line tools (clang-800.0.42.1). Reboot, do a fresh nheqminer-macos build, run miner

[2017-07-03 20:35] kozyilmaz opened #10 "Zero Sol/s"
quoting @eshbeata
[code]
1. What is your graphics card?
1. Which miner (nheqminer-cpu, gpu or old) are you using?
2. Do you have CUDA toolkit installed?
3. What is your CUDA driver version (System Preference)?
4. Can you paste the output of the following commands (only the miner you'll be using is enough)
[code]

[2017-07-03 20:39] kozyilmaz commented on #8
@eshbeata let's discuss your problem in issue #10

[2017-07-03 22:43] Edig commented on #4
Hello @kozyilmaz.

I have the same errors than @soyary  I fixed it the way you told. (The patch didn't work, but I modify the code myself)

but now I have no-supported error

[code]

Graphic card:
NVIDIA GeForce GT 750M 2048 MB
Intel Iris Pro 1536 MB

[2017-07-03 23:22] Edig commented on #9
same problem here

`Number of CUDA devices found: 1
	#0 GeForce GT 750M | SM version: 3.0 | SM count: 2`

I think that GeForce GT are no supported

[2017-07-04 02:24] Edig commented on #10
I received
Speed [15 sec]: 1.13333 I/s, 1.73333 Sols/s

way less than my CPU. I know my GPU is not really god but should do better than that. (I will upgraded it soon, but in the mean time I wanto to use this one)

NVIDIA GeForce GT 750M 2048 MB
miner: OLD
Yes I do have CUDA installed
CUDA Version: 8.0.83

`
	==================== www.nicehash.com ====================
		Equihash CPU&GPU Miner for N

[2017-07-04 07:03] kozyilmaz commented on #10
@Edig unfortunately currently best nheqminer GPU solvers supports Compute Capability > 5.0 (you may check the list here https://developer.nvidia.com/cuda-gpus) which means GeForce 9xx series minimum.

I added older Tromp GPU solver builds (nheqminer-old), although they work on older GPU's (and sometimes don't) the hashrate is not really good.

I will suggest giving an OpenCL miner a try (https://g

[2017-07-04 07:08] kozyilmaz commented on #9
@Forst I have the exact same configuration and I feel you. I'll look into it as soon as I got time and see if anything can be done. I will copy my comment in other issue here:

unfortunately currently best nheqminer GPU solvers supports Compute Capability > 5.0 (you may check the list here https://developer.nvidia.com/cuda-gpus) which means GeForce 9xx series minimum.

I added older Tromp GPU solv

[2017-07-17 19:20] mattwez378 opened #11 "GT 650M not being recognised as a CUDA GPU"
Hi, I have followed your guide and installed nheqminer on my mid 2012 macbook pro, I think it has installed successfully as far as I can tell, it can run on the CPU fine, but when I run the command for the GPU it says no CUDA compatible GPU found.

	==================== www.nicehash.com ====================
		Equihash CPU&GPU Miner for NiceHash v0.5c
	Thanks to Zcash developers for providing base

[2017-07-18 19:16] kozyilmaz commented on #11
@mattwez378 Can you post the output of this command:

[code]

I am gonna quote my previous statement about graphic cards with compute capability < 5.0 here

“Unfortunately currently best nheqminer GPU solvers supports Compute Capability > 5.0 (you may check the list here https://developer.nvidia.com/cuda-gpus) which means GeForce 9xx series minimum.

I added older Tromp GPU solver builds (nheqmine

[2017-07-19 13:47] mattwez378 commented on #11
Hi kozilmaz,

I have found that on the windows side the driver just needed updating through nvidia and not device manager.

I have now managed to get the 650M working on OSX too I found that I had not restarted the system since installing CUDA (schoolboy error).

I am currently only getting 3Sols/s on the GPU so it is pretty poor, like you have said, when mining on the CPU I average around 17 whic

[2017-07-30 02:11] calvintam236 commented on #9
Just complied today and tried `nheqminer-old -b -cd 0 -cv 1` on my iMac (21.5-inch, Late 2013). Same out of memory error.
[code]

`nheqminer-old -ci` gives the below:
[code]

[2017-09-01 08:35] jasin755 opened #12 "OpenCL support for AMD"
Hi, do you plan add OpenCL support for AMD graphic cards ?

[2017-09-03 12:27] kozyilmaz commented on #12
As far as I see nheqminer's original authors have no plans to support OpenCL and unfortunately I also can not add OpenCL support in near future. You may try https://github.com/justvanbloom/silentarmy though, it should work on macOS.

Hope that helps!

[2017-10-07 22:19] kozyilmaz commented on #6
@TheMCTipers Can you give it a try with v5? I added support for SM30 GPU's to Djezo Solver
https://github.com/kozyilmaz/nheqminer-macos/releases/tag/v5

[2017-10-07 22:21] kozyilmaz commented on #9
@Forst @calvintam236 @Edig  Can you give it a try with v5? I added support for SM30 GPU's to Djezo Solver (nheqminer-old)
https://github.com/kozyilmaz/nheqminer-macos/releases/tag/v5

[2017-10-07 22:21] kozyilmaz commented on #11
@mattwez378  Can you give it a try with v5? I added support for SM30 GPU's to Djezo Solver (nheqminer-old)
https://github.com/kozyilmaz/nheqminer-macos/releases/tag/v5

[2017-10-08 02:04] Edig commented on #9
@kozyilmaz I just test it and it works with a rate of 9 sols/s

[2017-10-08 05:41] TheMCTipers commented on #6
Don't have a working hackintosh anymore. Broke it, didn't decide to fix it, went back to shitdows for now. Will probably go back to trying to get high Sierra to run when shitdows breaks again.

[2017-10-25 20:28] locmer opened #13 "GeForce GTX 750 Ti 2Gb : CUDA: failed to alloc memory (version v0.5c)"
Getting the following error when trying to use a GeForce GTX 750 Ti 2Gb

./nheqminer-gpu -b -cd 0

	==================== www.nicehash.com ====================
		Equihash CPU&GPU Miner for NiceHash v0.5c
	Thanks to Zcash developers for providing base of the code.
	    Special thanks to tromp, xenoncat and djeZo for providing
	      optimized CPU and CUDA equihash solvers.
	==================== www.

[2017-10-26 07:54] kozyilmaz commented on #13
@locmer I am assuming you are getting "out of memory" error while doing real mining too, not only in benchmarking. In that case can you please also test with:
1. a setup where all GPU related workloads are minimised
2. `nheqminer-old`

Thanks!

[2017-10-27 08:35] locmer commented on #13
@kozyilmaz I am a developer but not very experienced with crypto currency yet (so take my input with that in mind)

Mining with just cpu works just fine (I think):

./nheqminer-cpu -l equihash.eu.nicehash.com:3357 -u [redacted] -t 4

	==================== www.nicehash.com ====================
		Equihash CPU&GPU Miner for NiceHash v0.5c
	Thanks to Zcash developers for providing base of the code.

[2017-10-27 21:55] locmer commented on #13
Some more data points, may be it helps. I tested some of the available options and with some it seems to work but I do not see a lot of performance difference then with CPU only. So I wonder if it works effectively:

./nheqminer-old -cv 1 -l equihash.eu.nicehash.com:3357 -u 3HQDfaWG5JZcnc6J8EJduY2ocNmWuJTM53 -t 4 -cd 0

	==================== www.nicehash.com ====================
		Equihash CPU&GPU

[2017-10-28 07:26] kozyilmaz commented on #13
Hey @locmer thanks for testing it all out. Somehow CUDA can not allocate memory which is odd (I got a a GTX680 and GTX960 with 2GB working for weeks). It is also visible in your test:
`./nheqminer-old -l equihash.eu.nicehash.com:3357 -u 3HQDfaWG5JZcnc6J8EJduY2ocNmWuJTM53 -t 4 -cd 0`

Your last test `./nheqminer-old -cv 1 -l equihash.eu.nicehash.com:3357 -u 3HQDfaWG5JZcnc6J8EJduY2ocNmWuJTM53 -t 4 -

[2017-10-28 20:19] locmer commented on #13
@kozyilmaz This a bog standard GPU.

Tweaking -cd 0 -cb 8 -ct 32 does make a slight difference (It fails at another point) See below. And it tweaked the CT and CB number (8-16/4-8/4-4/1-1) but that does seem to make a difference same failure. On upside is for the short time it runs it seems to function with a lot better performance numbers (makes it more painful :-)

Looks like I am not the only o

[2017-10-28 21:11] kozyilmaz commented on #13
@locmer indeed, it really seems this issue is GTX 750Ti specific, good catch in nheqminer issues.
This line seems to be giving the error (after patch lines are shifted)
https://github.com/nicehash/nheqminer/blob/b9900ff8e3c6f8e5a46af18db454f2a2082d9f46/cuda_djezo/equi_miner.cu#L2095

I'll look for a spare 750Ti among my friends, I'll update the issue if I find one. Btw are you using CUDA 9?

[2017-10-28 21:15] locmer commented on #13
@kozyilmaz This is the exact model I have

EVGA 02G-P4-3751-KR GeForce GTX 750 Ti 2GB GDDR5

CUDA Driver Version: 9.0.214

![screenshot 2017-10-28 23 12 24](https://user-images.githubusercontent.com/25956772/32138600-c34d0c1c-bc35-11e7-8539-33c0be49767e.png)

[2017-11-01 23:27] adradr opened #14 "bitcoin gold"
Hey!

are you planning BTG support? this is the only OS X CUDA miner I could compile and use for Equihash.

Thanks!

[2017-11-02 20:58] justvanbloom commented on #14
i am on it. will release when compiled.

[2017-11-08 16:30] cronos45 opened #15 "error keeps restarting"
Invalid or unsupported block header version

then it kicks off and restarts. Any ideas or tips to keep it going?

[2017-11-08 20:47] kozyilmaz commented on #15
@cronos45 which pool are you using? Can you try with flypool to eliminate pool related issues?
Are you mining zcash or zcash classic?

[2017-11-09 15:34] cronos45 commented on #15
@kozyilmaz I am mining on nice hash, ./nheqminer-gpu -l equihash.usa.nicehash.com:3357 -u
and my address is on nice hash( open to advice as pretty new.
Nvidia 980 ti
OS X egpu

[2017-11-10 09:10] kozyilmaz commented on #15
@cronos45 I created an account on nicehash and tried your configuration but not received any error on my MBP (at least not for 15 mins). How long does it take until you observe the error, does it happen immediately?

Does your command line have a device selection parameter (-cd)? Mine below:
```./nheqminer-gpu -l equihash.usa.nicehash.com:3357 -u BITCOIN_WALLET_ADDRESS -cd 0```

I mine Zcash and u

[2017-11-10 09:12] kozyilmaz commented on #6
SM 3.0 is supported starting https://github.com/kozyilmaz/nheqminer-macos/commit/786a2c8cd33e6052672d95bb626987bef1720479

[2017-11-10 09:12] #6 closed

[2017-11-10 09:13] kozyilmaz commented on #11
SM 3.0 is supported starting https://github.com/kozyilmaz/nheqminer-macos/commit/786a2c8cd33e6052672d95bb626987bef1720479

[2017-11-10 09:13] #11 closed

[2017-11-10 09:16] kozyilmaz commented on #10
SM 3.0 is supported starting https://github.com/kozyilmaz/nheqminer-macos/commit/786a2c8cd33e6052672d95bb626987bef1720479

[2017-11-10 09:16] #10 closed

[2017-11-11 06:10] cronos45 commented on #15
Sorry, was down for a bit. Will try your method. about 300-400 shares in each time and from there it is random. Yes,  ./nheqminer-gpu -l equihash.usa.nicehash.com:3357 -u user.worker1 -cd 0  If I use fly pool I just use your sett up and my address?

thank you

[2017-11-11 09:53] kozyilmaz commented on #15
If you would like to use flypool you need a Zcash address (you have to have a Zcash wallet first of course, you might consider Jaxx - I have no affiliations with them -). You use that address without registering to flypool.

Anyway I tried using nicehash and I was able to get the error message "ZcashMiner::parseJob(): Invalid or unsupported block header version" however it was right in the beginni

[2017-11-16 14:49] Bigsy commented on #13
I have this exact issue on arch linux with cuda V9.0.176 running a Quadro M1000M which unsurprisingly is based on early pascal GM107 same as a GTX 750ti. I suspect anything on this arch is having a problem.

[2017-11-16 21:26] avril-verhaeghen opened #16 "CUDA driver version is insufficient for CUDA runtime version"
Hi:

I've installed CUDA 9.0 and CLT 8.3.2.
Getting this error when doing a GPU benchmark ./nheqminer-gpu -b -cd 0:

		Equihash CPU&GPU Miner for NiceHash v0.5c
	Thanks to Zcash developers for providing base of the code.
	    Special thanks to tromp, xenoncat and djeZo for providing
	      optimized CPU and CUDA equihash solvers.
	==================== www.nicehash.com ====================

Somethi

[2017-11-17 08:26] litium commented on #9
Number of CUDA devices found: 1
	#0 GeForce GT 650M | SM version: 3.0 | SM count: 2

i tried v5 did and get CUDA: failed to alloc memory error

[2017-11-20 14:39] kozyilmaz commented on #16
@avril-verhaeghen sorry for my late response, is this only causing trouble during benchmarking (-b) or you cannot mine at all?

What are the versions of Nvidia Web Driver (378.05.05.25f01) and CUDA driver version (9.0.222) that you see in macOS System Preferences?

[2017-11-20 14:45] kozyilmaz commented on #13
Thanks for the info @Bigsy, you are right arch looks problematic. I am looking for GTX745,750,750TI so far but no luck yet.

[2017-11-20 15:02] kozyilmaz commented on #9
@litium I happen to encounter these types of error if I consecutively CTRL^C the miner, I am assuming miner initialization have some issues. Can you please try again after a fresh reboot? Here is a log from my MBP (probably you have the same):

[code]

[2017-11-21 12:38] avril-verhaeghen commented on #16
Hi @kozyilmaz , I had it with the benchmark. Didn't got the mining working since I'm not sure what cpu and gpu arguments I need to add?

[2017-11-21 12:43] kozyilmaz commented on #16
It is simple really (like below for newer GPU's an connecting to EU pool):
[code]
Can you post your Nvidia and CUDA driver versions from macOS "System Preferences"?

[2017-11-21 13:04] avril-verhaeghen commented on #16
Ok I see, will try it later, thanks!

CUDA Driver Version: 9.0.222
GPU Driver Version: 10.26.6 355.11.10.10.15.102

[2017-11-21 13:12] kozyilmaz commented on #16
Are you using "Nvidia Web Driver"? It seems to me that this is macOS default GPU driver. Can you download and install "Nvidia Web Driver" for your specific macOS version (for example this one http://www.nvidia.com/download/driverResults.aspx/120845/en-us is for macOS 10.12.6)

[2017-11-21 14:37] avril-verhaeghen commented on #16
Hmm, thought I had installed the Nvidia Web Driver, can't seem to find it now. Strange. I'll check it out later and let you know. Thanks!

[2017-11-21 18:44] avril-verhaeghen commented on #16
Seems that I didn't install the Nvidia Web Driver yet because I was having trouble (I remember it now) installing it due to incompatibility issues.
My GPU card: NVIDIA GeForce GT 750M 2 GB

![screen shot 2017-11-21 at 19 43 13](https://user-images.githubusercontent.com/6985532/33090457-53be0da2-cef4-11e7-9677-797e26a73106.png)

Searched the Nvidia website for a version that suites OS High Sierra,

[2017-11-21 18:53] kozyilmaz commented on #16
@avril-verhaeghen How about this one?
http://www.nvidia.com/download/driverResults.aspx/126538/en-us

[2017-11-23 09:59] Lumiboy commented on #13
@locmer I got the same issue (CUDA: failed to alloc memory).. did different -cd 0 -cb 8 -ct 16 etc.
What I did was I disconnected my Thunderbolt Display and now it's working (I had two displays) 😅
`./nheqminer-old -l eu1-zcash.flypool.org:3333 -u t1KTxk4tAPUp428MH18vu6Ruz2WEDGFccNX.mac -t 8 -cd 0`

[2017-11-23 10:03] kozyilmaz commented on #13
oh really :) @Lumiboy what was the configuration of your displays? both 4K, 1080p?

[2017-11-23 10:08] Lumiboy commented on #13
@kozyilmaz both 2560x1440

[2017-11-23 10:17] Lumiboy commented on #14
Any update yet?

[2017-11-23 10:18] adradr commented on #14
released, ive been running for weeks with no problem on 10.12

[2017-11-23 11:04] Lumiboy commented on #14
@adradr can't get it to work..
`Speed [15 sec]: 0 I/s, 0 Sols/s`

[2017-11-23 11:25] adradr commented on #14
settings?

[2017-11-23 11:55] Lumiboy commented on #14
`./nheqminer-gpu -l BTG.pool.minergate.com:3257 -u username -t 8 -cd 0`

[2017-11-23 12:55] kozyilmaz commented on #14
@adradr @Lumiboy let me look into it

[2017-11-23 13:26] kozyilmaz commented on #14
@adradr @Lumiboy I added a one-line fix but I am not sure whether it will work with all pools. It is working with BTG miner gate anyway, here is the commit https://github.com/kozyilmaz/nheqminer-macos/commit/7a283a97af4daab733e44602a492348f16e422fc

Here is the log, I have no time to create a release right now (a couple hours maybe) but you can compile yourself:
[code]

[2017-11-23 14:27] Lumiboy commented on #14
@kozyilmaz Thank you, it does mine now.. but it seems like it only CPU.. i get 5-15 Sols/s.. should be round 40-50 Sols/s if it's GPU right?
[code]

[2017-11-23 14:32] Lumiboy commented on #14
Issue solved..
`./nheqminer-old -l BTG.pool.minergate.com:3257 -u username -t 8 -cd 0`

Used **./nheqminer-old**

[2017-11-23 15:03] Lumiboy commented on #14
I get unexpected shut downs after a while..
https://i.ytimg.com/vi/s9Lry8SXbgI/hqdefault.jpg

[2017-11-23 17:51] Bigsy commented on #13
Interesting.. the laptop I was trying this on did have a 4k display connected via thunderbolt. Unfortunately, I don't have access to this combo at preset to retest.

[2017-11-23 19:44] kozyilmaz commented on #14
Well these types of error might occur if the mining machine is a laptop especially (MBP?) I am gonna test too

[2017-11-24 07:52] Lumiboy commented on #14
@kozyilmaz It's an iMac.. I was playing around while this happened, but when I leave it to just mine it works fine.. 12h of mining BTG atm

[2017-11-24 15:45] kozyilmaz commented on #4
make errors are resolved, clock_gettime() issues fixed, pkg-config patched. Others issues are tracked separately

[2017-11-24 15:45] #4 closed

[2017-11-24 15:47] kozyilmaz commented on #9
@litium do you use an external monitor or do you have a Thunderbolt connected monitor. If so can you try without it too?

[2017-11-24 15:47] kozyilmaz commented on #12
OpenCL is not supported at the moment, maybe in the future!

[2017-11-24 15:47] #12 closed

[2017-11-24 16:53] kozyilmaz commented on #14
@Lumiboy great news! I tested with eu.pool.gold:3044, eu.btgpool.pro:3857 and BTG.pool.minergate.com:3257 pools, so far so good.

Will closing now, please report if you observe any crashes

[2017-11-24 16:53] #14 closed

[2017-11-25 03:15] litium commented on #9
yes you're right. it was the thunderbolt connected monitor. its working fine now. thank you!

[2017-11-26 05:41] snowwcone opened #17 "GeForce GTX 750 Ti 2Gb : CUDA error 'an illegal memory access was encountered'... (version v0.5c)"
It looks like mining with my processor only works fine however whenever trying to use my gpu i receive this error below. Please keep in mind I don't know very much at all when it comes to coding(?)

C:\Users\braed\Desktop\Windows_x64_nheqminer-5c>nheqminer.exe  -l us-east.zec.slushpool.com:4444 -u [redacted] -cd 0

        ==================== www.nicehash.com ====================

[2017-11-26 10:46] kozyilmaz commented on #17
@snowwcone As locmer and Bigsy pointed out in another issue https://github.com/kozyilmaz/nheqminer-macos/issues/13 there is a problem with GM107 based GPU's  (GTX745,750,750TI). I am looking for one however did not find yet.

[2017-11-26 20:40] snowwcone commented on #17
@kozyilmaz thanks for ppointing that out to me. Is there any recommended miners that are compatible?

[2017-11-27 10:29] ziorufus opened #18 "Error on compilation"
Hello!

I'm trying to compile the miner, but I get this error. Is there a way to have a more descriptive log?

[code]

[2017-11-27 10:36] ziorufus commented on #18
Solved by commenting compilation of `nheqminer-old`.

[2017-11-27 10:40] ziorufus commented on #17
Same error for me. I tried to recompile the program with `-DUSE_CUDA_TROMP=ON` in `neqminer/Makefile` (see [here](https://github.com/nicehash/nheqminer/issues/223)) and run it with `-cv 1`. It seems to work, but I get no speed (`Speed [15 sec]: 0 I/s, 0 Sols/s`).
Any idea is appreciated.

[2017-11-27 11:14] kozyilmaz commented on #17
@snowwcone I believe Claymore has a ZEC Windows miner, not sure if EWBF works on Windows.

[2017-11-27 11:16] kozyilmaz commented on #18
@ziorufus Sorry for my late reply but can you try it with `PRINT_DEBUG=y make all` so I can fix it?

[2017-11-27 11:20] kozyilmaz commented on #17
@ziorufus one of my older releases `nheqminer-old` have CUDA_TROMP. Can you try mining with that? https://github.com/kozyilmaz/nheqminer-macos/releases/tag/v4

[2017-11-27 12:07] ziorufus commented on #17
I had to disable it, due to a compilation error :(
See #18

[2017-11-27 12:36] ziorufus commented on #17
As you suggested, I tried v4, but I encountered the same problem: it gives me the error or 0 Sols/s depending on the activation of `CUDA_TROMP`.

[2017-11-27 12:46] ziorufus commented on #17
If I use `nheqminer-old` it seems to work, but it's really slow :(

[code]
Based on the tables I found on the web, it should go around 40/50 Sols/s.
Using my other GPU (GeForce GTX 1060) I got (on `nheqminer-gpu`)

[code]

[2017-11-27 12:52] ziorufus commented on #17
I think that the problem can be solved by making `CUDA_TROMP` working on the newer `nheqminer-gpu`, but honestly I do not know how to do it.

[2017-11-27 13:47] ziorufus commented on #17
It works! From the information on the mining pool, it seems that the speed is correctly 44 H/s.
I hope this is correct.

Anyway, I made a small donation for the project, @kozyilmaz you deserve it!

[2017-11-27 14:14] kozyilmaz commented on #17
@ziorufus Thanks, glad that it worked!

[2017-11-27 20:08] snowwcone commented on #17
@ziorufus did you use the older version of nheqminer? or enabling CUDA_TROMP on the new version?

[2017-11-27 22:48] ziorufus commented on #17
@snowwcone I used the old version, as the new one gives 0 Sol/s even with `CUDA_TROMP` set to ON.

[2017-12-06 22:55] mkhanal commented on #16
I too get the same errors, for both of the links.

[2017-12-08 22:38] xt3rnal opened #19 "CUDA error 'unspecified launch failure' in func 'solve' line 2114"
nvidia 1070 gpu, hackintosh

[2017-12-11 19:42] Hendler commented on #16
same for both old and gpu

[code]

[2017-12-12 16:59] codecharlie opened #20 "BTG -- Invalid/unsupported header error"
Still having an issue with the nheqminer-gpu recognizing the header format for BTG.

My Cmd:  ./nheqminer-gpu -l BTG.pool.minergate.com:3257 -u my.email@address.com -t 24 -cd 0 -cb 28 -cv 1

Results in attached png
![screen shot 2017-12-12 at 10 39 28](https://user-images.githubusercontent.com/2601321/33897581-74f8364a-df2b-11e7-83a8-444df92adde8.png)
...

[2017-12-12 18:01] kozyilmaz commented on #16
hmmm I am not using High Sierra so I am not observing this mess I guess. Did you guys tried the workaround proposed in the link @Hendler mentioned?
https://devtalk.nvidia.com/default/topic/1025945/mac-cuda-9-0-driver-fully-compatible-with-macos-high-sierra-10-13-error-quot-update-required-quot-solved-/

[2017-12-12 20:09] kozyilmaz commented on #20
@codecharlie I attached a modified version of nheqminer:
[miner.tar.gz](https://github.com/kozyilmaz/nheqminer-macos/files/1553126/miner.tar.gz)

Can you please try with this version and the command below:
[code]

[2017-12-12 20:21] codecharlie commented on #20
Hello Kazim!

Thank you for such a quick fix —> it seems to work fine as long as I don’t put any of the CUDA specific flags on the command line like -cd, -cb.  The hash rate seems OK at about 550 Sols/s

Best Regards,
Charles

[2017-12-12 20:26] kozyilmaz commented on #20
@codecharlie Thanks for the update, did you observe this error with the last precompiled release (v7)? In any case can you please share the logs so I fix the header version?
Regards!

[2017-12-13 01:26] codecharlie commented on #20
Sorry, I didn’t try the precompiled one, normally I only run code that I build.  If it will help you I can pull the v7 and run it and give you a copy of the -d 0 logs, would that help?

Cheers,
Charles

[2017-12-13 05:12] kozyilmaz commented on #20
@codecharlie oh not really, I added some debug prints to the custom compiled version I attached previously. I'll appreciate if you run that one with "-d 0". Sorry for the inconvenience

Thanks!

[2017-12-13 09:09] Hendler commented on #16
I had downloaded the binaries. Compiling from scratch revealed I didn't have the Nvidia build tools, I was also prompted to upgrade from the NVidia preferences.
Then, when compiling, I needed to _downgrade_ xcode command line tools.

[code]

Upon doing that
[code]

[2017-12-13 09:13] kozyilmaz commented on #16
@Hendler alright can you run once more with command below and paste the log.
[code]
Thanks!

[2017-12-13 12:43] codecharlie commented on #20
OK, I let it run for a few seconds to hopefully get a decent capture of what you need, just let me know if you need a longer run and I will do it.

Thanks again for all of your hard work and quick responses.

Cheers,
Charles

[2017-12-13 12:53] kozyilmaz commented on #20
@codecharlie I think your crash was just at the beginning so a short log will do. If it doesn't crash than it's already fine :)

No worries, wish you uninterrupted mining :)

[2017-12-20 11:05] Olvikolvi opened #21 "xcode 9.2 not CUDA 9 compatible"
$ make
Software Version:
ProductName:	Mac OS X
ProductVersion:	10.13.2
BuildVersion:	17C88
Compiler Version:
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.13.sdk/usr/include/c++/4.2.1
Apple LLVM version 9.0.0 (clang-900.0.39.2)
Target: x86_64-apple-darwin17

[2017-12-20 11:08] kozyilmaz commented on #21
Hi @Olvikolvi, these compiler restrictions are imposed by Nvidia. As printed in the error log please install CUDA 9 compatible "Xcode Command Line Tools" (not complete Xcode) and after your binaries are created you can upgrade it back to normal.

Or you can use precompiled versions. Hope that helps!

[2017-12-20 12:19] Olvikolvi commented on #21
Precompiled is just fine for me. Now I noticed its existence 👍

[2017-12-20 12:19] #21 closed

[2017-12-24 10:39] webgkv commented on #20
Have so issues:

[12:37:57][0x0000700004efa000] stratum | Target set to 0000800000000000000000000000000000000000000000000000000000000000
[12:37:57][0x0000700004efa000] stratum | Received: {"id":null,"method":"mining.notify","params":["a2cb","00000020","b25214d25c8f75132d097a4a206b0512508f27f29ebb279f5562980800000000","1522e3ad788512a765d596ac1fd5e2d4811f110330f1ed8229db9bd67af58d14","5bb8070000000

[2017-12-24 11:22] kozyilmaz commented on #20
Hi @webgkv, which pool are you using? Can you post the arguments that you pass to nheqminer-gpu (you don't have to specify wallet address)?

[2017-12-24 11:29] webgkv commented on #20
Hi @kozyilmaz, its's miningpoolhub.com with multiple switch for different algo. I use Equihash.
 My arguments is:

#!/bin/sh

# gpu
./nheqminer-gpu -l  europe.equihash-hub.miningpoolhub.com:17023 -u webgkv.gtx970 -p x -cd 0

When is't  switch to Zcash and Zclassic all good, when Zencash and Bitcoin-Gold I get the error above.

[2017-12-24 12:09] kozyilmaz commented on #20
@webgkv This seems intentional, as you see until the first clean job is received `Received new job #a31e` miner doesn't do any calculation.

Stratum protocol states that: () If true, miners should abort their current work and immediately use the new job
https://en.bitcoin.it/wiki/Stratum_mining_protocol

[code]

[2017-12-29 20:05] twagler commented on #18
I am also having an error on compilation:

`Undefined symbols for architecture x86_64:
  "_libiconv", referenced from:
      _g_iconv in libglib-2.0.a(libglib_2_0_la-gconvert.o)
      _g_convert_with_iconv in libglib-2.0.a(libglib_2_0_la-gconvert.o)
      _g_convert_with_fallback in libglib-2.0.a(libglib_2_0_la-gconvert.o)
  "_libiconv_close", referenced from:
      _g_iconv_close in libglib-2.0.a

[2018-01-02 08:11] hweekuan commented on #16
i solved the problem with:
#1 : using the search function of nvidia website, key in "macos driver release 10.13.2"

choose the driver, in my case here
http://www.nvidia.com/download/driverResults.aspx/127670/en-us

download and install.

#2, System preference, open nvidia driver manager and choose "Nvidia Web Driver". i tried choosing "OS X Default Graphics Driver" and got error

[2018-01-02 08:41] kozyilmaz commented on #16
@hweekuan Yes, exactly! Unfortunately NVIDIA graphics drivers are released to specific macOS versions (yes, even minors) and in order to make miner software work Nvidia Web Driver should be installed.
Glad that it worked!

[2018-01-02 19:48] Hendler commented on #16
[code]

[2018-01-02 20:29] kozyilmaz commented on #16
@Hendler unfortunately CUDA looks for certain `clang` versions (Command Line Tools 8.3.2 in this case). You can install it from Apple Developer site (link is in the error message). I just check and fail early.

After you pass that step but you still experience issues please run command below:
`$ PRINT_DEBUG=y make all`
and paste the output

[2018-01-02 20:32] kozyilmaz commented on #16
Of course you can always switch back to latest clang after compilation

[2018-01-02 21:43] Hendler commented on #16
https://gist.github.com/Hendler/1138d0601989e51ec6fbd6710cc01b47

[2018-01-02 23:02] cronos45 commented on #20
I am having no luck connecting to supernova for BTG.
tried on v7 as well and with out -d 0

./nheqminer-gpu -l stratum+tcp://btg.suprnova.cc:8816 -u mystuff.here -p x -cd 0 -d 0

`.
Setting log level to 0
[18:00:15][0x00007fffaff2e340] Using SSE2: YES
[18:00:15][0x00007fffaff2e340] Using AVX: YES
[18:00:15][0x00007fffaff2e340] Using AVX2: YES
[18:00:15][0x000070000e437000] stratum | Starting miner

[2018-01-03 14:45] kozyilmaz commented on #16
@Hendler I think cmake download has busted for some reason, file is there but not exactly right. Can you please do a clean run from scratch? Sorry for the inconvenience.

I will add sha256 checksum control during download phase as soon as I can.

[2018-01-03 14:48] kozyilmaz commented on #20
@cronos45 How about dropping the `stratum+tcp` prefix. I think this should work:
`$ ./nheqminer-gpu -l btg.suprnova.cc:8816 -u mystuff.here -p x -cd 0 -d 0`

[2018-01-03 16:24] cronos45 commented on #20
Thank you @kozyilmaz, I am unsure whats changed, oh I am on 10.13.2 perhaps thats the issue??

[2018-01-03 16:31] cronos45 commented on #20
This is what I was getting

`
Setting log level to 0
[11:20:10][0x00007fff88bf4340] Using SSE2: YES
[11:20:10][0x00007fff88bf4340] Using AVX: YES
[11:20:10][0x00007fff88bf4340] Using AVX2: YES
[11:20:10][0x0000700001bee000] stratum | Starting miner
[11:20:10][0x0000700001bee000] stratum | Connecting to stratum server btg.suprnova.cc:8816
[11:20:10][0x0000700001c71000] miner#0 | Starting thread #0

[2018-01-03 16:42] cronos45 commented on #20
IT is alive!!!

[2018-01-03 21:19] kozyilmaz commented on #20
@cronos45 :) glad it worked

[2018-01-03 21:23] kozyilmaz commented on #8
cleaning up issues, appreciate a report with new releases if problem still persists

[2018-01-03 21:23] #8 closed

[2018-01-03 21:24] #9 closed

[2018-01-03 21:28] kozyilmaz commented on #17
duplicate of https://github.com/kozyilmaz/nheqminer-macos/issues/13, there is an issue with GM107 based GPU's (GTX745,750,750TI)

[2018-01-03 21:28] #17 closed

[2018-01-03 21:32] #20 closed

[2018-01-03 21:56] kozyilmaz commented on #15
Closing, please report if the issue still persists.
Thanks

[2018-01-03 21:56] #15 closed

[2018-01-03 23:17] cronos45 commented on #15
@kozyilmaz  Thank you for such a speedy reply!! Will do.

[2018-01-04 18:16] careless25 commented on #18
@Astxsilencer can you point me to where you found this file? I am running into the same issue.

[2018-01-04 18:19] kozyilmaz commented on #18
Hi @careless25, which CUDA version are you using, did you install CUDA Toolkit?

[2018-01-04 21:03] careless25 commented on #18
@kozyilmaz
[code]

[2018-01-04 21:15] kozyilmaz commented on #18
@careless25 do you have brew or macports installed?

[2018-01-04 21:23] careless25 commented on #18
No but I can install it @kozyilmaz

[2018-01-04 21:29] kozyilmaz commented on #18
No I just wanted to make sure that there is no collision in terms of include headers somewhere which caused this. Strange, do you have an Xcode installation and what is your macOS version?

[2018-01-04 21:31] careless25 commented on #18
macOS High Sierra v10.13.2

and yes I have the latest Xcode installed (v9.2)

[2018-01-04 21:36] kozyilmaz commented on #18
Can you paste the output of the two functions below?
[code]

[2018-01-04 21:41] careless25 commented on #18
1st command - no results
2nd:
[code]

[2018-01-04 21:50] kozyilmaz commented on #18
You can mine with CPU, no worries

0. Can you please copy the output of
`$ ls -lrt /Developer/NVIDIA/CUDA-9.1/include`

1. You can use the latest precompiled release https://github.com/kozyilmaz/nheqminer-macos/releases/tag/v7

2. If you want to build it on your machine you can disable CUDA by setting `ENABLE_CUDA=n`
https://github.com/kozyilmaz/nheqminer-macos/blob/280fc55ffcf83941db9489312e5d4de

[2018-01-04 22:53] careless25 commented on #18
0.
[code]
1. The cpu version on this works!

2. I will try this later. Thanks!

[2018-01-08 11:36] kozyilmaz commented on #18
If macOS 10.13 is used there might be tiny problem, [CUDA 9.1 README](https://docs.nvidia.com/cuda/cuda-installation-guide-mac-os-x/index.html) states that:
`Note that the CUDA 9.1 driver supports macOS 10.13. This means that existing CUDA applications can be run on Mac systems with CUDA 9.1 installed, however new CUDA applications cannot be compiled with CUDA 9.1 on macOS 10.13.`

[2018-01-09 08:07] kozyilmaz commented on #18
This https://github.com/kozyilmaz/nheqminer/commit/0776e9d5d1551a53cc091536f343496bd7917869 should fix it, please use a fresh checkout to test. Tested with CUDA 9.0 and CUDA 9.1

[2018-01-09 20:26] Blackskyliner opened #22 "[Bug][NVIDIA][970] Slow hash rate after about 2hrs"
**Operating System:** macOS 10.12.6 Sierra
**Used GPU:** GeForce GTX 970
**Used Driver:** NVIDIA Web Driver: 378.05.05.25f04
**Version of Miner: 280fc55**
**Command used:** `./nheqminer-gpu -cd 0 -t 3 -u MyZCashAddress.MinerName -p x -l eu1-zcash.flypool.org:3333`

**Observed Behavior**

- I mined from 18:30 to 20:30 and then I dropped from 250 Sol/s to about 35-40 Sol/s!
- I could reset it with t

[2018-01-09 20:47] kozyilmaz commented on #22
@Blackskyliner Thanks for the detailed bug report. I think the GPU is completely off at some point,  40 Sol/s that you see is coming from your AVX2 CPU's as far as I can tell. Can you run only with `-cd 0` to see what happens?

[2018-01-09 20:49] Blackskyliner opened #23 "[Bug] The average hash rate is "too" average in failing cases"
**Problem**
If the hash rate of the miner, for what ever reason, drops it is not correctly displayed on the log ouput.

**Observerd**
Logs where the problem is somehow related to can be viewed in #22

**Possible solving**
- I would guess, w/o looking at the code, that the hash rate gets averaged over multiple or even all turns, so we can display a more realistiv average number to the user without

[2018-01-09 20:59] Blackskyliner commented on #22
About the remaining 40 Sol/s I also thought it may be my CPU only. But after some testing it only gets up to about 25 Sol/s.

I will watch on my next mining run, going to bed now, if it happens again, on GPU only. Maybe I will also be able to get a good `-d 0` when it happens.

Thanks for the fast reaction 😃.

**Only CPU (`-t 3`)**
[code]

**Only GPU (`-t 0 -cd 0`)**
[code]

[2018-01-09 21:29] Blackskyliner commented on #23
Ohh.. I see it is already a buffer which should theoretically get purged after the interval (15 sec per default) Related code in https://github.com/kozyilmaz/nheqminer/blob/master/nheqminer/speed.cpp#L33 - And so I just saw that this issue is in the wrong repository then and relates more to that repository: kozyilmaz/nheqminer@1056a9a825c19037763c1ad4b9bc3fc769ed2db7 and even though you forked ada

[2018-01-09 21:29] #23 closed

[2018-01-13 19:39] cronos45 opened #24 "Restart arguments"
Miner logs out or times out leaving 0 sol, is there an argument i can add so it restarts on its own after failures?

[2018-01-15 15:34] locmer commented on #19
Same here:

[15:51:45][0x0000700001ebc000] miner#0 | CUDA error 'unspecified launch failure' in func 'solve' line 2114

Nvidia 1050 gpu, hackintosh

[2018-01-15 19:22] kozyilmaz commented on #24
Hey @cronos45 I actually use this script as base to restart the miner: https://github.com/kozyilmaz/nheqminer-macos/blob/master/miner/miner.sh

Basically this is the command, are you looking something like this?
`$ while true; do ./nheqminer-gpu -l eu1-zcash.flypool.org:3333 -u WALLET_ADDRESS.WORKER_NAME -cd 0; echo "sleep & restart"; sleep 30; done`

[2018-01-16 00:25] xt3rnal commented on #19
i was able to fix it with this cmd:

while true; do ./nheqminer-gpu <flags>; echo "sleep & restart"; sleep 30;
done

after it errors it auto restarts itself with the above command

On Mon, Jan 15, 2018 at 10:34 AM, locmer <notifications@github.com> wrote:

[2018-01-16 19:12] Blackskyliner commented on #22
So it happened again, but I guess the last time I was just lucky, a benchmark did not trigger the reset of that phenomen, I guess it was a lucky one. But it is indeed all-time-slow so my guess would stay that I somehow hit the slow-memory I guess. But why does it not reset though... As at the minute the program gets disconnected the CUDA stack should cleanup after itself or at least free stuff...

[2018-01-16 19:35] Blackskyliner commented on #22
Closed all Applications (e.G. Mail, Firefox) aaaand it's working again. What I don't get I can even do graphics work on this machine while mining, okay the speed will be only at 50% most of the time, but it works. So why does it seem that some application combination can lock the GPU only for those mining relevant tasks... But I got aclue where to debug next time when this is happening. Maybe I ca

[2018-01-17 07:40] kozyilmaz commented on #22
If you find a certain combination I'll try with my setup too (MP 4.1 with GTX960). Memory stats is more or less the same with yours
[code]

[2018-01-18 23:31] 01egi4 opened #25 "make[3]: *** [autoconf_clone] Error 23"
When I run make I get the following errors:
make[2]: *** [clone] Error 1
make[1]: *** [autoconf_all] Error 2
make: *** [tools_all] Error 2

PRINT_DEBUG=y make shows the following:

  CLONE      autoconf
if [ ! -f "autoconf-"2.69".tar.gz" ]; then curl -OL http://ftp.gnu.org/gnu/autoconf/autoconf-"2.69".tar.gz; fi
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2018-01-19 00:28] kozyilmaz commented on #25
1. Is it possible that you skipped `source environment` command?
2. Do you have permissions to write to the folder that you use? Can you try
`touch a.txt` for example?

Kazım Rıfat Özyılmaz
Founder

*Monolitik Bilişim Hizmetleri*
www.monolytic.com
E: kazim@monolytic.com
T: +90 532 6946844
Esentepe Mah. Büyükdere Cad.
Astoria AVM No:127 2.Bodrum Katı
İç Kapı No:B2-02 Şişli / İstanbul

On Fri, Jan 1

[2018-01-19 05:03] 01egi4 commented on #25
1. I didn't skip `source environment` command.
2. I also thought it could be permissions, so I've given 'chmod 777' to the folder, but it didn't help. `touch a.txt` works fine.

[2018-01-24 02:46] andrepradotf commented on #6
sorry to ask, but what actually is this SM 5.0 ?

[2018-01-26 08:17] kozyilmaz commented on #6
Hi @andrepradotf It is the "compute capability" determined by Nvidia, a feature set, here is the list check out GeForce GPU's:
https://developer.nvidia.com/cuda-gpus

[2018-01-28 19:44] sergiorru opened #26 "75% of usage on GPU only"
Hi,

I noticed that using the default start parameters i can only active 75% of my GTX 1080 (with aprox. 350 Sols/s)

nheqminer-gpu -l equihash.usa.nicehash.com:3357 -u <BTC Wallet>.GTX1080 -p p -cd 0

How can i use full (around 95%) of the GPU ?

I tried several combinations of -cb and -ct parameters but not worked.

[2018-02-01 12:10] kalamarcito opened #27 "Late jan 2018 apple/nvidia update broke miner and compilation"
Since apple osx security update 2018-001 for osx 10.12.6 (now build 16G1212) and subsequent nvidia driver update, the miner stopped working: it connects to stratum server and receives jobs but does no hash.

Tried to recompile with cli-tools 8.3.2 for xcode 9 (xcode version 9.2 installed), updated 9.0 CUDA toolkit and updated nheqminer-macos version from github. It fails with:

[2018-02-02 23:28] alabart commented on #15
I have the same problem reflected on kozyilmaz log. It is random. sometimes it runs for hours no problem. Then enters a cycle of errors to recover some minutes later... also mining with nicehash. happens with all their regional servers.. thanks for any insight you can provide!

[2018-02-03 16:13] cronos45 commented on #27
https://egpu.io/forums/mac-setup/wip-nvidia-egpu-support-for-high-sierra/

Not really an issue with this code, but here is a link to solve your issue.

[2018-02-05 23:02] mingan81 commented on #26
I have exactly the same problem. eGPU gtx1080 with MacOs only get about 350 Sols/s.

[2018-02-08 18:45] cronos45 commented on #26
my 980 ti get 300-350 Sols/s

[2018-02-11 00:57] droopymiller opened #28 "CMAKE fails during config"
Hi, I'm trying to compile and it fails at cmake.  Sorry if this is neglect on my end, thanks!

[code]

[2018-02-13 06:30] mstei4176 commented on #13
OS: High Sierra
GPU: Nvidia Quadro K1200, 4GB

Number of CUDA devices found: 1
	#0 Quadro K1200 | SM version: 5.0 | SM count: 4

I can kick it off, but if fails shortly:

./nheqminer-gpu -cd 0 -ct 0 -l zec.pool.minergate.com:3357 -u UserName

	==================== www.nicehash.com ====================
		Equihash CPU&GPU Miner for NiceHash v0.5c
	Thanks to Zcash developers for providing base of the

[2018-02-14 14:42] sergiorru commented on #26
This is very weird problem, i cannot figure out any solution. For now I mining with keccak algo with sgminer, this provide same speeds as windows/linux.

[2018-02-16 03:53] mingan81 commented on #26
sgminer support for Nvidia GPU? teach me. I try it but it does not work. thanks

[2018-02-18 19:23] kozyilmaz commented on #28
Sorry for late answer @droopymiller, can you try with `PRINT_DEBUG=y make all` instead of `make` and paste the output?
Thanks!

[2018-02-18 19:27] kozyilmaz commented on #27
Hi @kalamarcito, as far as I see Nvidia released CUDA Toolkit 9.1 which is compatible with Xcode 9.2 Command Line Tools (latest one). So I tested a working setup on macOS High Sierra (10.13.3) with Xcode 9.2 and CUDA 9.1

[2018-02-18 19:43] its-neon commented on #28
Making all in .
  CC       libglib_2_0_la-gallocator.lo
  CC       libglib_2_0_la-gcache.lo
  CC       libglib_2_0_la-gcompletion.lo
  CC       libglib_2_0_la-grel.lo
cc1: Fehler: /opt/local/include: No such file or directory [-Werror=missing-include-dirs]
cc1: Fehler: /opt/local/include: No such file or directory [-Werror=missing-include-dirs]
cc1: Fehler: /opt/local/include: No such file or dire

[2018-02-18 20:43] kozyilmaz commented on #28
Do you have `brew` installed? Installed `brew` packages may be interfering with the build

[2018-02-18 21:12] droopymiller commented on #28
The flatassembler website seems to down at the moment and I'm unable to download the FASM package.  I will try again later.  I also updated to CUDA 9.1 and am using command line tools for 9.2 and those seem to be working ok up through building FASM. @kozyilmaz

[2018-02-19 14:38] kalamarcito commented on #27
Thanks kozyilmaz, I guess I face an os upgrade...

[2018-02-19 14:43] kozyilmaz commented on #27
Hey @kalamarcito one sec, have you tried with:
1. this Nvidia driver (and maybe there may be an updated one too) http://www.nvidia.com/download/driverResults.aspx/120845/en-us
2. CUDA Toolkit 9.1
3. Xcode 9.2
Maybe you don't have to upgrade after all?

[2018-02-19 18:37] kalamarcito commented on #27
That one is the driver pre security update, it refuses to install on 10.12.6 (16G1212), it asks for 10.12.6 (16G29) (actually tried it).

When you are on 16G29 and apply the security update to 16G1212, that driver stops working and asks to be updated. This is standard behaviour through OSX updates.

Now I installed CUDA Toolkit 9.1, the web says it's for High Sierra and driver version 390 (while d

[2018-02-19 18:48] kalamarcito commented on #27
tried and it fails while installing libtool (as a regular user), installing autoconf (as an admin) or configuring cmake (as root)

[2018-02-19 19:17] kozyilmaz commented on #27
Do you have `brew` installed? You don't have to try as superuser, I didn't even tested that. Can you build with:
`$ PRINT_DEBUG=y make all`

[2018-02-19 19:42] kalamarcito commented on #27
- installed `brew`, failed compilation
- then ran `PRINT_DEBUG=y make all`, saw a lot of permission denied so I deleted the whole folder and cloned again (as regular user from now on)
- now `fasm` site seems to be down, time for a walk and try later
Thanks a lot! I think I'm getting closer

[2018-02-19 19:45] kozyilmaz commented on #27
No, if you don't use it please uninstall `brew`
This repo is tested with vanilla macOS and it is self contained (except Nvidia and Apple tools of course)

[2018-02-19 19:53] kalamarcito commented on #27
What I use and was always installed is `fink`
Anyway I think the compilation problems came from those permission issues and the thing will compile when `fasm` comes online again. All the compile errors were thrown while building the self contained dependencies.

[2018-02-19 22:11] droopymiller commented on #28
I do have brew installed, but I removed the cmake package before my latest attempt.  Thanks for your support!

[code]
[CMakeError.log](https://github.com/kozyilmaz/nheqminer-macos/files/1738296/CMakeError.log)
[CMakeOutput.log](https://github.com/kozyilmaz/nheqminer-macos/files/1738297/CMakeOutput.log)

[2018-02-20 17:36] sergiorru commented on #26
Sure mingan81,

You can download MacMiner, this comes with an embedded version of sgminer, and them you can mining using the command line bellow as a sample:

`while true; do /Applications/MacMiner.app/Contents/Resources/sgminer/bin/sgminer -o stratum+tcp://keccak.usa.nicehash.com:3338 -u <BTC WALLET>.<Minner ID> -p p -k Keccak --device 0 -I 16 ; echo "sleep & restart"; sleep 30; done`

But for no

[2018-02-28 12:53] sv3tli0 commented on #16
For latest 10.13.3 Install > http://www.nvidia.com/content/DriverDownload-March2009/confirmation.php?url=/Mac/Quadro_Certified/387.10.10.10.25.158/WebDriver-387.10.10.10.25.158.pkg&lang=us&type=GeForce  (at least at my case this is working.
Then install latest CUDA Toolkit and try to build your miner..

[2018-02-28 14:44] sv3tli0 opened #29 "Many of I/s but 0 Sols/S"
[code]
Any ideas why Sols/s is stuck to 0 and maybe about that Ignoring message ?
CUDA 387.128
GPU 387.10.10.10.25.158

[2018-03-09 20:53] equiss commented on #29
Having the same issue.

`[15:48:53][0x0000700000eb4000] stratum | Received new job #c55da92d90e45ab73b86
[15:48:53][0x0000700000eb4000] miner#0 | Loading new job #c55da92d90e45ab73b86
[15:48:53][0x0000700000f37000] miner#0 | Running Equihash solver with nNonce = 000000000000000000000000000000000000000000000000000000093aaffe05
[15:48:53][0x0000700000f37000] miner#0 | Running Equihash solver with nN

[2018-03-16 13:40] psimondo opened #30 "CUDA error 'an illegal memory access was encountered' in func 'solve' line 2114"
Runs fine for a while, then:

miner#0 | CUDA error 'an illegal memory access was encountered' in func 'solve' line 2114

[2018-03-20 10:27] psimondo opened #31 "Setting CUDA number of blocks and threads doesn't have any effect on Sols/s"
I've tried setting -cb and -ct to various values but I constantly mine at 530-590 Sols/s no matter what settings I try. I'd like to just have my GPU mining in the background at a low rate while I use my computer day to day.

-cd 0
-cd 0 -cb 1 -ct 1
-cd 0 -cb 8 -ct 64
-cd 0 -cb 16 -ct 128
-cd 0 -cb 32 -ct 256

All have the same effect. 530 - 590 sols/s!

[2018-03-20 13:36] kozyilmaz commented on #29
Sorry for the late reply, these `I/s` numbers are too high to be real, so card is not really mining as far as I can tell.
Unfortunately there are already known issues with GM107 architecture cards (GTX745,750,750TI), see also issue https://github.com/kozyilmaz/nheqminer-macos/issues/13 which I have no solution for.

[2018-03-20 13:40] kozyilmaz commented on #30
This error is observed in different cards but I have no solution for it yet. As a workaround you can restart mining by using this command:
`while true; do ./nheqminer-gpu <flags> -cd 0; echo "sleep & restart"; sleep 30; done`

[2018-04-03 18:57] kropper opened #32 "Compiling on High Sierra 10.13.4"
All dependencies compile file, and then:

[code]

What can we do? macOS is on the latest, along with Xcode, and CUDA 9.1 compatible 'Command Line Tools for Xcode 9.2' are installed.

[2018-04-03 22:31] kozyilmaz commented on #32
Hi @kropper, I tried with the tools&libraries below on 10.13.4, seems to build fine. Can you try with a fresh console and checkout?

[code]

[2018-04-14 13:13] RobertKoval opened #33 "Does not compile 10.13.4"
[code]

[2018-05-15 20:25] reppolice opened #34 "I don't think anything works in High Sierra"
Hi,

I struggled some on an iMac with the latest MacOs and a GT650m, the latest webdriver seemed to solve all driver problems but could not get any hashes from the -old binary or the -gpu, neither your compile or mine, and finally tested -cpu to find out exactly the same, no hashes. Finally on my CPU-only Macbook got your binary and ..., nothing, 0 hashes in the benchmark. From what I've been read

[2018-05-15 20:45] kozyilmaz commented on #34
@reppolice sorry to hear that, I'll go over and try with my MBP and old MacPro again with latest High Sierra and update this issue.

About compilation: you can check this repo https://github.com/kozyilmaz/tools It contains the basic tools required for compilation on macOS (at least autotools and pkconfig plus GNU gcc). Give it a try with the precompiled releases.

[2018-09-18 16:42] Danrancan opened #35 "To all the people having issues, I wrote a tutorial on how to get this working on a mac pro or hackintosh"
To all the people having issues, I wrote a tutorial on how to get this working on a mac pro or hackintosh.
I don't think GitHub allows external links directly, so you will have to copy and paste this address in your browser. If I am wrong, someone please point out how to link this directly! Thanks!

https://nerd-tech.net/2018/05/27/how-to-mine-z-cash-on-mac-os-with-a-hackintosh-with-an-nvidia-1080

[2018-09-20 11:45] kozyilmaz commented on #35
Great job @Danrancan !

[2018-10-11 19:26] lordgamegenie opened #36 "Is there a way to compile this without CUDA on MBP with no discrete GPU?"
I just want to CPU mine.

[2018-10-11 20:15] kozyilmaz commented on #36
Hi @lordgamegenie, you can set `ENABLE_CUDA=n` in https://github.com/kozyilmaz/nheqminer-macos/blob/2f37091c6727722413b9c1e7a341c5df119affc6/nheqminer/Makefile#L13